.body {
	font-family: arial;
}

/* layout begin */
.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1140px;
}

.row {
	margin: 0 -15px;
}

.col-12 {
	padding: 0 15px;
}

.col-6 {
	float: left;
	width: 50%;
	padding: 0 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkip-box-sizing: border-box;
}
/* layout end */

/* form begin */
.section {
	margin-bottom: 20px;
}

.formGroup {
	margin-bottom: 4px;
}

.label {
	display: block;
	margin-bottom: 3px;
}

.button {
	width: 80px;
	padding: 8px 0;
	margin: 4px 0;
	background: #5aad55;
	color: #fff;
	border: 2px solid #2F4C27;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radiua: 4px;
	font-size: 16px;
}
/* form end */

/* kombucha list begin */
.kombuchaEntry {
	margin-bottom: 20px;
}

.kombuchaProp {
	margin: 0 0 3px;
}
/* kombucha list end */